In [2]:
import numpy as np
import pandas as pd
import os
import sys

### Đọc dữ liệu thô

In [31]:
df = pd.read_csv("../data/onlret.csv")

In [32]:
df.head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [33]:
df["TotalPrice"] = df.Quantity * df.UnitPrice

In [34]:
df[df.TotalPrice<0].head(3)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,-27.50
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,2010-12-01 09:49:00,4.65,15311.0,United Kingdom,-4.65
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,2010-12-01 10:24:00,1.65,17548.0,United Kingdom,-19.80

In [35]:
df["Status"] = df.TotalPrice.apply(lambda x: 1 if x>=0 else 0)

In [36]:
df.Status.value_counts()

Status
1    532619
0      9290
Name: count, dtype: int64

### Xử lý, giảm bộ nhớ

In [37]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
TotalPrice          0
Status              0
dtype: int64

In [38]:
df[df.Description.isna()].CustomerID.value_counts(dropna=False)

CustomerID
NaN    1454
Name: count, dtype: int64

In [39]:
df["CustomerType"] = df.CustomerID.fillna("").apply(lambda x: 0 if x=="" else 1)

In [40]:
df.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Status,CustomerType
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,1,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,1,1

In [41]:
df1=df[["StockCode", "Description"]].drop_duplicates()
df2=df.drop(columns="Description")

In [42]:
df1.shape

(5752, 2)

In [43]:
df1.to_csv("../data/onlret_description.csv", index=False)

In [44]:
df2.to_csv("../data/onlret_transaction.csv", index=False)