In [1]:
import numpy as np
import pandas as pd
import os
import sys

### Đọc dữ liệu

In [13]:
df = pd.read_csv("../data/onlret_transaction.csv", dtype={"CustomerID": str})

In [14]:
df.head(2)

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Status,CustomerType
0,536365,85123A,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,1,1
1,536365,71053,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,1,1

### Tạo dữ liệu monthly index

In [15]:
df["d"] = pd.to_datetime(df.InvoiceDate).dt.date

In [16]:
df["m"] = pd.to_datetime(df.InvoiceDate).dt.to_period("M").dt.to_timestamp()

In [17]:
df.head(2)

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Status,CustomerType,d,m
0,536365,85123A,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,1,1,2010-12-01,2010-12-01
1,536365,71053,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,1,1,2010-12-01,2010-12-01

In [23]:
strategy_01 = df.groupby("m").agg(revenue = ("TotalPrice", "sum"), 
                    cnt_cus = ("CustomerID", "nunique"),
                    cnt_pro = ("StockCode", "nunique")
                   ).reset_index()
strategy_02 = df.groupby(by=["m", "StockCode"]).agg(revenue = ("TotalPrice", "sum"), 
                    cnt_cus = ("CustomerID", "nunique"),
                    cnt_pro = ("Quantity", "sum")
                   ).reset_index()
strategy_03 = df.groupby(by=["m", "CustomerID"]).agg(revenue = ("TotalPrice", "sum"), 
                    cnt_cus = ("StockCode", "nunique"),
                    cnt_pro = ("Quantity", "sum")
                   ).reset_index()
strategy_04 = df.groupby("m").agg(revenue = ("TotalPrice", "sum"), 
                    cnt_cus = ("CustomerID", "nunique"),
                    cnt_pro = ("StockCode", "nunique"),
                    cnt = ("Quantity", "sum")      
                   ).reset_index()

In [9]:
strategy_01.shape, strategy_01.shape, strategy_01.shape, strategy_04.shape

((13, 4), (13, 4), (13, 4), (13, 5))

In [10]:
strategy_01.to_csv("../data/strategy_01_monthly.csv", index=False)
strategy_02.to_csv("../data/strategy_02_monthly.csv", index=False)
strategy_03.to_csv("../data/strategy_03_monthly.csv", index=False)
strategy_04.to_csv("../data/strategy_04_monthly.csv", index=False)